[Unit]
Description=Music App
 
[Service]
ExecStart=/usr/bin/node /home/ubuntu/project/web-app/app.js
Restart=always
RestartSec=5
User=root
Group=root
Environment=PATH=/usr/bin:/usr/local/bin
Environment=NODE_ENV=production
WorkingDirectory=/home/ubuntu/project/web-app
 
[Install]
WantedBy=multi-user.target