/* Bonnie Ng 2017-04-02*/

.landing-page-form {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    float: right;
    height: 100%;
    width: 50%;
    display: block;
}

.landing-page-form form {
    display: block;
    margin: 300px;
    margin-left: 25%;
}
/*override above for sign up piece*/
.signup form {
    margin: 200px;
    margin-left: 25%;
}

.landing-page-form form > input {
    border-style: none;
    border-radius: 5px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-size: 16px;
    line-height: 20px;
    transition: 100ms all; 
    padding: 10px 20px;
    margin: 15px 0 15px 10px;
    display: block;
    opacity: 0.8;
}

.landing-page-form form > input[type=submit] {
    cursor: pointer;
    background-color: #FF0058;
    color: white;
    width: 232px;
}
.landing-page-form form > input[type=submit]:hover {
    cursor: pointer;
    background-color: #36D7D6;
    color: rgba(0, 0, 0, 0.8);
}
.landing-page-form-extra {
	margin: 15px 0 15px 10px;
	width: 232px;
}
.landing-page-form-extra > li > a:hover {
	cursor: pointer;
}

@media only screen and (max-width: 500px) {

    .landing-page-form {
        width: 100%;
        max-height: 30%;
        float: none;
    }
    .landing-page-form form {
        margin: 0;
        margin-left: 10%;
        width: 80%;
    }
    .landing-page-form form > input  {
        width: 200px;
        margin: 15px auto;
    }
    .landing-page-form form > input[type=submit]  {
        width: 200px;
    }
    .landing-page-form-extra {
        width: 200px;
        margin: 0 auto;
    }
}