li.news-article {
	display: block;
	overflow: hidden;
	margin-bottom: 10px;
	border-bottom: 1px solid #666;
	padding-bottom: 5px;
}
.news-article a {
	color: white;
}
.news-article a:hover {
	color: #00aeff;
}
.news-article p.date {
	color: grey;
}
.news-article h5 {
	font: normal 14px/16px Helvetica; 
	word-break: break-all;
	white-space: normal;
}
.news-article p.summary {
	max-height: 50px;	
	color: grey;
	display: block;
	width: 100%;
	word-break: break-all;
	white-space: normal;
}
