/* Elliot Barer, ebarer [at] mac [dot] com, 2017-03-25 */

/* PORTFOLIO-STOCK-ENTRY */
form.portfolio-add-stock {
    background: #111;
    width: 100%;
    margin: 0;
    padding: 8px 10px;
    box-sizing: border-box;
    border-radius: 10px;
/*     border: 1px solid #333; */
    position: relative;
}

form.portfolio-add-stock input[name="portfolio-stock-entry"] {
    background: transparent;
    color: white;
    font-size: 18px;
    line-height: 25px;
    width: 100%;
    padding: 0 0 0 5px;
    box-sizing: border-box;
    border: none;
}

form.portfolio-add-stock input[type="submit"] {
    font: bold 16px/27px Arial;
    color: #00cc00;
    background: #111;
    display: block;
    margin: 0;
    padding: 0 10px;
    border: 1px solid #00cc00;
    border-radius: 5px;
    cursor: pointer;
    float: right;
}

form.portfolio-add-stock input[type="submit"]:hover {
    background: #00cc00;
    color: #111;
}


@media screen and (max-width:500px) {
    form.portfolio-add-stock {
        padding-left: 10px;
    }

    form.portfolio-add-stock input[name="portfolio-stock-entry"] {
        font-size: 14px;
    }

    form.portfolio-add-stock input[type="submit"] {
        right: 10px;
    }
}