/* Elliot Barer, ebarer [at] mac [dot] com, 2017-03-25 */

/* PORTFOLIO-STOCK-ENTRY */
input[name="portfolio-stock-entry"] {
    background: #111;
    color: white;
    font-size: 18px;
    width: 100%;
    margin: 0;
    padding: 14px 5px 14px 40px;
    box-sizing: border-box;
    border: none;
    border-top: 1px solid #333;
}


@media screen and (max-width:500px) {
    input[name="portfolio-stock-entry"] {
        padding: 14px 10px;
    }
}