/* Elliot Barer, ebarer [at] mac [dot] com, 2017-03-25 */

/* PORTFOLIO-MEMBER-ENTRY */
#portfolio-admin-name {
    padding: 15px;
}

#portfolio-admin-name form {
    position: relative;
}

#portfolio-admin-name input[name="portfolio-name"] {
    background: #111;
    color: white;
    font-size: 24px;

    width: 100%;
    margin: 0;
    padding: 5px 10px;
    box-sizing: border-box;
    border-radius: 10px;
    border: 1px solid #333;
}

#portfolio-admin-name input[name="portfolio-name"]::placeholder {
    color: #666;
}

#portfolio-admin-name input[type="submit"] {
    background: #00cc00;
    color: #111;
    font: bold 16px/27px Arial;
    text-indent: 0;
    display: block;
    margin: 1px 0;
    padding: 0 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    top: 5px;
    right: 7px;
}

#portfolio-admin-name input[type="submit"]:hover {
    background: #009900;
    color: #111;
}


@media screen and (max-width:500px) {
    #portfolio-admin-name {
        padding: 10px;
    }
    
    
}