/* Elliot Barer, ebarer [at] mac [dot] com, 2017-03-25 */

/* PORTFOLIO-STOCK */
.portfolio-stock {
    font: 18px Helvetica;
    padding: 14px;
    border-bottom: 1px solid #333;
    cursor: default;
}

.portfolio-stock .delete-button {
    font: 21px/21px Arial;
    text-indent: 0;
    color: white;
    background: #cc0000;
    display: block;
    float: left;
    margin: 0 15px 0 0;
    padding: 0 4.5px;
    border-radius: 30px;
    cursor: pointer;
}

.portfolio-stock .delete-button:hover {
    background: #990000;
    color: white;
}

.portfolio-stock .delete-button:after {
    content: '\D7';
}

.portfolio-stock:last-of-type {
    border-bottom: none;
}


@media screen and (max-width:500px) {
    .portfolio-stock {
        font: 14px Helvetica;
        line-height: 22px;
    }
}