/* Elliot Barer, ebarer [at] mac [dot] com, 2017-03-25 */

/* PORTFOLIO-NOTIFIATION */
p#portfolio-notification {
    font: 18px/50px Helvetica;
    width: 100%;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    cursor: default;
}

p#portfolio-notification.add {
    background: #339933;   
}

p#portfolio-notification.delete {
    background: #cc0000;
}