/* Elliot Barer, ebarer [at] mac [dot] com, 2017-03-25 */


/* PORTFOLIO */
.portfolio {
    height: auto;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.portfolio h2 {
    font: 500 20px/25px 'SF Pro Display', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #888;
    margin-left: 4%;
    padding-left: 5px;
    position: absolute;
    top: 0px;
    z-index: 20;
    cursor: default;
}

.portfolio h2 span {
    background: rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    margin-left: 10px;
    padding: 3px 10px;
    position: relative;
    top: -2px;
    font: 14px/18px Helvetica;
    color: black;
    cursor: pointer;
}

.portfolio h2 span:hover {
    background: rgba(255, 255, 255, 0.5);
}

.portfolio .portfolio-contents {
    position: relative;
}

.portfolio .stocks {
    width: 100%;
    padding: 35px 4%;
    box-sizing: border-box;
    position: relative;
    overflow-y: hidden;
    overflow-x: scroll;
}

.portfolio .stocks::-webkit-scrollbar { 
    display: none;
}

.portfolio ul {
    white-space: nowrap;
}


/* PORTFOLIO NAVIGATION */
.portfolio-navigation {
    height: 100%;
    width: 100%;
    padding: 35px 0;
    box-sizing: border-box;
    position: absolute;
}

.portfolio .nav-button {
    background: rgba(30, 30, 30, 0.8);
/*     -webkit-backdrop-filter: saturate(50%) blur(25px); */
    font: 64px Arial;
    text-align: center;
    color: white;
    height: 100%;
    width: 4%;
    float: left;
    position: relative;
    z-index: 100;
    cursor: pointer;
}

.portfolio .nav-button:before {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.portfolio .nav-button.prev {
    display: none;
    border-radius: 0 8px 8px 0;
}

.portfolio .nav-button.prev:before {
    content: '\2039';
}

.portfolio .nav-button.next {
    float: right;
    border-radius: 8px 0 0 8px;
}

.portfolio .nav-button.next:before {
    content: '\203A';
}


@media only screen and (max-width: 449px) {
    .portfolio {
        height: auto;
        display: inline-block;
        vertical-align: top;
    }
    
    .portfolio h2 {
        position: relative;
        margin: 0 4% 10px;
    }
    
    .portfolio .stocks {
        margin-top: 0;
        padding: 0 4%;
    }
    
    .portfolio .stocks ul {
        height: 100%;
        white-space: normal;
    }    

    .portfolio .portfolio-navigation {
        display: none;
    }
}

@media screen and (min-width:450px) and (max-width:949px) {
    .portfolio h2           { margin-left: 7%; }
    .portfolio .stocks      { padding: 35px 7%; }
    .portfolio .nav-button  { width: 7%; }
}

@media screen and (min-width:950px) and (max-width:1129px) {
    .portfolio h2           { margin-left: 5%; }
    .portfolio .stocks      { padding: 35px 5%; }
    .portfolio .nav-button  { width: 5%; }
}
