/* Elliot Barer, ebarer [at] mac [dot] com, 2017-03-25 */

/* PORTFOLIO-MEMBER-ENTRY */
form.portfolio-add-member {
    background: #111;
    width: 100%;
    margin: 0;
    padding-left: 35px;
    box-sizing: border-box;
    border-top: 1px solid #333;
    position: relative;
}

form.portfolio-add-stock input[name="portfolio-member-entry"] {
    background: transparent;
    color: white;
    font-size: 18px;
    width: 100%;
    padding: 14px 5px;
    box-sizing: border-box;
    border: none;
}

form.portfolio-add-stock input[type="submit"] {
    font: bold 16px/27px Arial;
    text-indent: 0;
    color: #111;
    background: #00cc00;
    display: block;
    margin: 0;
    padding: 0 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    top: 12px;
    right: 25px;
}

form.portfolio-add-stock input[type="submit"]:hover {
    background: #009900;
    color: #111;
}


@media screen and (max-width:500px) {
    form.portfolio-add-member {
        padding-left: 10px;
    }
    
    form.portfolio-add-stock input[name="portfolio-member-entry"] {
        font-size: 14px;
    }
    
    form.portfolio-add-stock input[type="submit"] {
        right: 10px;
    }
}