/* Elliot Barer, ebarer [at] mac [dot] com, 2017-03-25 */


/* PORTFOLIO-CELL */
.portfolio-cell {
    height: auto;
    width: 20%;
    margin: 0;
    padding: 0 5px 0 0;
    position: relative;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    cursor: pointer;
}

.portfolio-cell:first-of-type {
    padding-left: 5px;
}

.portfolio-cell:last-of-type {
    margin-right: 5%;
}

.portfolio-cell-content {
    height: 100%;
    width: 100%;
    padding: 8px 15px;
    border-radius: 8px;
    overflow: hidden;
    box-sizing: border-box;
    position: relative;
    z-index: 0;
    transition: 450ms all;
    transform-origin: center;
}

.portfolio-cell-content:hover {
    transform: scale(1.2);
    z-index: 10;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.6);
}

.portfolio-cell-content.up {
    background: #339933;
}

.portfolio-cell-content.down {
    background: #cc0000;
}

.portfolio-cell-content h1 {
    font: bold 26px/30px Helvetica;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.portfolio-cell-content p.name {
    display: block;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.portfolio-cell-content .details {
    width: 100%;
    clear: both;
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.portfolio-cell-content .price {
    font: 18px/24px Helvetica;
    float: left;    
}

.portfolio-cell-content .price-change {
    font: 18px/24px Helvetica;
    float: right;
}

.portfolio-cell-content .price-currency {
    font: 12px/24px Helvetica;
    color: white;
}

.portfolio-cell-content.up .price-currency {
    color: rgba(0, 255, 0, 0.7);
}

.portfolio-cell-content.down .price-currency {
    color: rgba(255, 150, 150, 0.7);
}


/* ADD-STOCK-BUTTON */
.portfolio-cell.add-stock-button {
    width: 5%;
}

.add-stock-button .portfolio-cell-content {
    background: #333;
    font-size: 36px;
    line-height: 90px;
    text-align: center;
    padding: 0;
}

.add-stock-button .portfolio-cell-content:hover {
    background: #666;
    transform: scale(1);
}


@media screen and (max-width:469px) {
    .portfolio-cell {
        width: 100%;
        margin: 5px 0;
        padding: 0;
    }
    
    .portfolio-cell:first-of-type {
        margin: 0;
        padding: 0;
    }
    
    .portfolio-cell:last-of-type {
        margin: 0;
    }
    
    .portfolio-cell-content:hover {
        transform: scale(1.03);
        box-shadow: none;
    }

    .portfolio-cell-content .info {
        width: 60%;
        float: left;
    }
    
    .portfolio-cell-content p.name {
        height: 20px;
    }
    
    .portfolio-cell-content .details {
        width: auto;
        float: right;
        clear: none;
        text-align: right;
    }
    
    .portfolio-cell-content .price {
        float: none;
    }
    
    .portfolio-cell-content .price-change {
        float: none;
        display: block;
    }
    
    /* ADD-STOCK-BUTTON */
    .portfolio-cell.add-stock-button {
        width: 100%;
    }
    
    .add-stock-button .portfolio-cell-content {
        line-height: 40px;
    }
}


@media screen and (min-width:470px) and (max-width:679px) {
    .portfolio-cell { width: 45% }
    .portfolio-cell:last-of-type { margin-right: 8%; }
    .portfolio-cell.add-stock-button { width: 10%; }
}

@media screen and (min-width:680px) and (max-width:949px) {
    .portfolio-cell { width: 31% }
    .portfolio-cell:last-of-type { margin-right: 8%; }
    .portfolio-cell.add-stock-button { width: 8%; }
}

@media screen and (min-width:950px) and (max-width:1129px) {
    .portfolio-cell { width: 24% }
    .portfolio-cell:last-of-type { margin-right: 6%; }
    .portfolio-cell.add-stock-button { width: 5%; }
}

@media screen and (min-width:1130px) and (max-width:1399px) {
    .portfolio-cell { width: 19% }
    .portfolio-cell.add-stock-button { width: 5%; }
}

@media screen and (min-width:1400px) {
    .portfolio-cell { width: 15.5% }
    .portfolio-cell.add-stock-button { width: 6%; }
}