/* Elliot Barer, ebarer [at] mac [dot] com, 2017-03-25 */

/* PORTFOLIO-NOTIFIATION */
p#portfolio-notification {
    background: #00cc00;
    font: 18px/40px Helvetica;
    margin-bottom: 1px;
    cursor: default;
    text-align: center;
}