/* Elliot Barer, ebarer [at] mac [dot] com, 2017-03-25 */

/* PORTFOLIO-CREATE */
.portfolio-create {
    background: rgba(90, 90, 90, 0.8);
    -webkit-backdrop-filter: saturate(100%) blur(5px);
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1500;
    top: 0;
    left: 0;
}

.portfolio-create-form {
    background: black;
    height: auto;
    width: 400px;
    margin: 125px auto;
    box-sizing: border-box ;
    border-radius: 10px;
    overflow: auto;
    box-shadow: 0 0 50px rgba(90, 90, 90, 0.8);
}

.portfolio-create-form h3 {
    font-size: 24px;
    text-align: center;
    margin: 25px 0 8px;
}

.portfolio-create-form p {
    font-size: 12px;
    text-align: center;
    color: #999;
}

.portfolio-create-form input[name="portfolio-name"] {
    background: #111;
    color: white;
    font-size: 24px;
    width: 90%;
    margin: 15px 5%;
    padding: 5px 10px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #333;
}

/* FOOTER */
.portfolio-create-footer {
    height: auto;
    padding: 10px;
    border-top: 1px solid #333;
    overflow: auto;
}

.portfolio-create-footer a.button {
    background: rgba(255, 255, 255, 0.1);
    color: #999;
    font: 18px/27px Arial, sans-serif;
    padding: 2px 8px;
    border-radius: 5px;
    cursor: pointer;
}

.portfolio-create-footer a.button:hover {
    background: rgba(255, 255, 255, 0.2);
    color: #ddd;
}

.portfolio-create-footer a.button.cancel {
    float: left;
}

.portfolio-create-footer a.button.save {
    background: #00cc00;
    color: #111;
    float: right;
    font-weight: bold;
}

.portfolio-create-footer a.button.save:hover {
    background: #009900;
    color: #111;
}

@media screen and (max-width:500px) {
    .portfolio-create-form {
        width: 100%;
        height: 100%;
        margin: 0;
    }

}