/* Elliot Barer, ebarer [at] mac [dot] com, 2017-03-25 */


/* PORTFOLIO-CELL */
.portfolio-cell {
    height: auto;
    width: 20%;
    margin: 0;
    padding: 0 5px 0 0;
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    cursor: pointer;
}

.portfolio-cell:first-of-type {
    padding-left: 5px;
}

.portfolio-cell:last-of-type {
    margin-right: 4%;
}

.portfolio-cell-content {
    height: 100%;
    width: 100%;
    padding: 8px 15px;
    border-radius: 8px;
    overflow: hidden;
    box-sizing: border-box;
    position: relative;
    z-index: 40;
    transition: 450ms all;
    transform-origin: center;
}

.portfolio-cell-content:hover {
    -webkit-backdrop-filter: saturate(180%) blur(25px);
    transform: scale(1.1);
    z-index: 60;
}

.portfolio-cell-content.up {
    background: rgba(0, 255, 0, 0.5);
}

.portfolio-cell-content.down {
    background: rgba(255, 0, 0, 0.5);
}

.portfolio-cell-content h1 {
    font: bold 26px/30px Helvetica;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.portfolio-cell-content p.name {
    display: block;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.portfolio-cell-content .details {
    width: 100%;
    clear: both;
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.portfolio-cell-content .price {
    font: 18px/24px Helvetica;
    float: left;    
}

.portfolio-cell-content .price-change {
    font: 18px/24px Helvetica;
    float: right;
}

.portfolio-cell-content .price-currency {
    font: 12px/24px Helvetica;
    color: rgba(255, 255, 255, 0.5);
}

.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #0f0;
}

.arrow-down {
    width: 0; 
    height: 0; 
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #f00;
}

@media screen and (max-width:449px) {
    .portfolio-cell {
        width: 100%;
        margin: 5px 0;
        padding: 0;
    }
    
    .portfolio-cell:first-of-type {
        margin: 0;
        padding: 0;
    }
    
    .portfolio-cell:last-of-type {
        margin: 0;
    }
    
    .portfolio-cell-content:hover {
        transform: scale(1);
    }

    .portfolio-cell-content .info {
        width: 60%;
        float: left;
    }
    
    .portfolio-cell-content p.name {
        height: 20px;
    }
    
    .portfolio-cell-content .details {
        width: auto;
        float: right;
        clear: none;
        text-align: right;
    }
    
    .portfolio-cell-content .price {
        float: none;
    }
    
    .portfolio-cell-content .price-change {
        float: none;
        display: block;
    }
}

@media screen and (min-width:450px) and (max-width:649px) {
    .portfolio-cell { width: 50% }
    .portfolio-cell:last-of-type { margin-right: 7%; }
}

@media screen and (min-width:650px) and (max-width:949px) {
    .portfolio-cell { width: 33.333333% }
    .portfolio-cell:last-of-type { margin-right: 7%; }
}

@media screen and (min-width:950px) and (max-width:1129px) {
    .portfolio-cell { width: 25% }
    .portfolio-cell:last-of-type { margin-right: 5%; }
}

@media screen and (min-width:1130px) and (max-width:1399px) {
    .portfolio-cell { width: 20% }
}

@media screen and (min-width:1400px) {
    .portfolio-cell { width: 16.66666667% }
}