/* Elliot Barer, ebarer [at] mac [dot] com, 2017-03-25 */

/* PORTFOLIO-ADMIN */
.portfolio-admin {
    background: rgba(50, 50, 50, 0.7);
    -webkit-backdrop-filter: saturate(100%) blur(5px);
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1500;
    top: 0;
    left: 0;
}

.portfolio-admin-form {
    background: black;
    height: auto;
    width: 700px;
    margin: 100px auto;
    box-sizing: border-box ;
    border-radius: 20px;
}


/* FORM HEADER */
.portfolio-admin-form .form-header {
    height: 44px;
    padding: 0 10px;
    box-sizing: border-box;
    border-bottom: 1px solid #666;
}

.portfolio-admin-form .form-header a {
    font-size: 18px;
    color: #999;
    padding: 10px;
    cursor: pointer;
}

.portfolio-admin-form a.close-button {
    color: #999;
    font: 18px/50px Arial, sans-serif;
    margin: 20px;
    padding: 5px;
    float: right;
    cursor: pointer;
}

.portfolio-admin-form a.close-button:hover {
    color: #ddd;
}

.portfolio-admin-form a.close-button:after {
    content: 'Done'; /* × */
}

.portfolio-admin-form input[name="portfolio-name"] {
    background: black;
    color: white;
    font-size: 24px;
    width: 70%;
    margin: 25px 0 25px 25px;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #333;
}

.portfolio-admin-form input[name="portfolio-name"]::placeholder {
    color: #666;
}

.portfolio-admin-form ul {
    height: auto;
    padding: 0 0 0 25px;
    box-sizing: border-box;
    border-top: 1px solid black;
    overflow-y: scroll;
}

.portfolio-admin-form ul#portfolio-admin-stocks {
    max-height: 400px;
    margin-bottom: 10px;
}

.portfolio-admin-form ul#portfolio-admin-members {
    max-height: 150px;
    padding: 15px 25px;
}

@media screen and (max-width:750px) {
    .portfolio-admin-form {
        height: 100%;
        width: 100%;
        margin: 0;
        border-radius: 0;
    }
}

@media screen and (max-width:500px) {
    .portfolio-admin-form input[name="portfolio-name"] {
        margin: 10px;
    }
    
    .portfolio-admin-form a.close-button {
        margin: 5px 5px 5px 0;
    }
    
    .portfolio-admin-form ul#portfolio-admin-stocks {
        max-height: none;
    }
    
    .portfolio-admin-form ul#portfolio-admin-members {
        max-height: none;
    }
}