/* Elliot Barer, ebarer [at] mac [dot] com, 2017-03-25 */

/* PORTFOLIO-ADMIN */
.stock-summary {
    background: rgba(90, 90, 90, 0.8);
    -webkit-backdrop-filter: saturate(100%) blur(5px);
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    overflow: scroll;
}

.stock-summary::-webkit-scrollbar {
	display: none;
}

.stock-summary-form {
	background: #151515;
	height: auto;
	width: 900px;
	margin: 100px auto 25px;
    box-sizing: border-box;
	border-radius: 10px;
    position: relative;
    overflow: auto;
    box-shadow: 0 0 50px rgba(90, 90, 90, 0.8);
}


/* SUMMARY HEADER */
.stock-header {
    height: auto;
    padding: 15px;
    border-bottom: 1px solid #333;
    overflow: auto;
}

.stock-header h3 {
	font-size: 24px;
	line-height: 40px;
}

.stock-header h3 span.stock-price {
    font-size: 18px;
    margin-left: 15px;
    padding: 3px 6px;
    border-radius: 5px;
    position: relative;
    top: -2px;
}

.stock-header h3 span.stock-price.up {
    background: #339933;
}

.stock-header h3 span.stock-price.down {
    background: #cc0000;
}

.stock-header a.close-button {
    background: #222;
    color: #999;
    font: 18px/30px Arial, sans-serif;
    padding: 5px 15px;
    border-radius: 5px;
    float: right;
    cursor: pointer;
    transition: 450ms all;
}

.stock-header a.close-button:hover {
    background: #333;
    color: white;
}

.stock-header a.close-button:after {
    content: 'Done'; /* × */
}


/* SUMMARY LEFT (DETAILS) */
.stock-information {
    height: 600px;
    width: 50%;
    float: left;
    box-sizing: border-box;
    position: relative;
    border-right: 1px solid #333;
}

.stock-information ul {
    height: auto;
    overflow: auto;
    clear: both;
    border-bottom: 1px solid #333;
}


@media screen and (max-width:950px) {
    .stock-summary-form {
        height: 100%;
        width: 100%;
        margin: 0;
        border-radius: 0;
    }
    
    .stock-information {
        height: 100%;
    }
}

@media screen and (max-width:500px) {
    .stock-header {
        padding: 10px;
    }
    
    .stock-information {
        height: auto;
        width: 100%;
        border: none;
    }
}