/* Elliot Barer, ebarer [at] mac [dot] com, 2017-03-25 */

/* STOCK-PROPERTY */
.stock-property {
    font: 14px Helvetica;
    color: #999;
    width: 50%;
    float: left;
    padding: 15px;
    box-sizing: border-box;
	border-bottom: 1px solid #333;
}

ul > .stock-property:nth-last-of-type(-n+2) {
    border: none;
}

.stock-property span.stock-property-value {
    color: white;
    font-weight: bold;
    white-space: nowrap;
    float: right;
    max-width: 60%;
    overflow: hidden;
    text-overflow: ellipsis;
}