/* Elliot Barer, ebarer [at] mac [dot] com, 2017-03-25 */

/* STOCK-PROPERTY */
.stock-property {
    font: 14px Helvetica;
    color: #999;
    width: 50%;
    float: left;
    padding: 15px;
    box-sizing: border-box;
	border-bottom: 1px solid #333;
}

.stock-property:last-of-type {
    border: none;
}

.stock-property span.stock-property-value {
    color: white;
    font-weight: bold;
	float: right;
}