.StockProperty {
	/*width: 50%;*/
	height: 20px;	
	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.StockProperty h4, p {
	display: inline;
}
.StockProperty h4 {
	margin-right: 5px;
	font-weight: bold
}
.StockProperty p {
	float: right;
}