.Login {
	height: 100%;
	width: 60%;
	margin: 0 20%;
}

.landing-brand {
	box-sizing: border-box;
	float: left;
	/*min-height: 700px;*/
	height: 100%;
	width: 50%;
	display: block;
	/*background: blue;*/
}

.landing-login {
	box-sizing: border-box;
	float: right;
	/*min-height: 700px;*/
	height: 100%;
	width: 50%;
	display: block;
	/*background: red;*/
}

.landing-logo {	
	display: table;
	margin: 300px auto 0;
}
.landing-logo h1 {
	vertical-align: middle;
	display: table-cell;
	font-size: 4em;
}
.landing-logo img {
	height: 65px;
	margin-left: -7px;
}

.landing-login {
	height: 50%;
}

.landing-login form {
	display: block;
	margin: 300px auto 0;
	width: 50%;
}

.landing-login form > input {
	border-style: none;
    border-radius: 5px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-size: 16px;
    line-height: 20px;
    transition: 100ms all; 
	padding: 10px 20px;
    margin: 15px 0 15px 10px;
    display: block;
	opacity: 0.8;
	transition: 300ms all; 
}

.landing-login form > input[type=text], input[type=password] {

}

.landing-login form > input[type=submit] {
    cursor: pointer;
    background-color: #FF0058;
    color: white;
    width: 232px;
}
.landing-login form > input[type=submit]:hover {
    cursor: pointer;
    background-color: #36D7D6;
    color: rgba(0, 0, 0, 0.8);
}
.landing-login-extra {
	margin: 15px 0 15px 10px;
	width: 232px;
}

.ScrollAbout{
	height: 50px;
	position: absolute;
	bottom: 10px;
	width: 40%;
}

.About {
	height: 100%;
	display: block;
	background: rgb(50, 50, 50);
}


@media only screen and (max-width: 500px) {
	.Login {
		height: 100%;
		width: 100%;
		margin: 0;
	}

	.landing-login, .landing-brand {
		width: 100%;
		max-height: 30%;
		float: none;
	}
	.landing-logo {		
		margin: 125px auto 0;
	}
	.landing-login form {
		margin: 10px auto 0;	
		width: 200px;
	}
	.landing-login form > input  {
		width: 200px;
	}
	.landing-login form > input[type=submit]  {
		width: 200px;
	}
}